<h2>Editing <%=edit_user(@id).username%>'s Account</h2>
<%= render "errors"%>
<%= form_for edit_user(@id) do |f| %>
    <p>Username: <%= f.text_field :username %></p>
    <p>Email: <%= f.email_field :email %></p>
    <p>Password: <%= f.password_field :password %></p>
    <p>Confirm Password: <%= f.password_field :password_confirmation %></p>
    <%if current_user.employee_type != "manager" %>
        <p><%= f.radio_button :employee_type, "manager", disabled: true, unchecked: true %> Manager - Only managers can grant you this role </p>
        <p><%= f.radio_button :employee_type, "cook"%> Cook</p>
        <p><%= f.radio_button :employee_type, "host"%> Host</p>
        <p><%= f.radio_button :employee_type, "waitstaff"%> Waitstaff</p>
        <p><%= f.radio_button :employee_type, "bartender" %>Bartender</p>
        <p><%= f.radio_button :employee_type, "busser"%>Busser</p>
    <%else%>
        <% if User.get_managers.size <= 1 && User.get_managers.include?(edit_user(@id)) %>
            <p>You must create at least one more Manager Account before changing your role.</p>
            <p><%= f.radio_button :employee_type, "manager", disabled: true, checked: true%> Manager </p>
            <%= f.hidden_field :employee_type, value: "manager" %>
            <p><%= f.radio_button :employee_type, "cook" , disabled: true %> Cook</p>
            <p><%= f.radio_button :employee_type, "host", disabled: true%> Host</p>
            <p><%= f.radio_button :employee_type, "waitstaff", disabled: true%> Waitstaff</p>
            <p><%= f.radio_button :employee_type, "bartender", disabled: true %>Bartender</p>
            <p><%= f.radio_button :employee_type, "busser", disabled: true%>Busser</p>
        <%else%>
            <p><%= f.radio_button :employee_type, "manager"%> Manager</p>    
            <p><%= f.radio_button :employee_type, "cook"%> Cook</p>
            <p><%= f.radio_button :employee_type, "host"%> Host</p>
            <p><%= f.radio_button :employee_type, "waitstaff"%> Waitstaff</p>
            <p><%= f.radio_button :employee_type, "bartender" %>Bartender</p>
            <p><%= f.radio_button :employee_type, "busser"%>Busser</p>
        <%end%>
    <%end%>
    <%= f.submit %>
<% end %> 