<html>
   <body>
      <div style="padding-left: 16px;">
      
      <% if User.first == nil %>
         <h1>Create a Manager Account</h1>
      <% else %>
         <h1>Create an account!</h1>
      <% end %>

      <% if @user.errors.any? %>
         <div id="error_explanation">

            <h2>
               <%= pluralize(@user.errors.count, "error") %>
               prohibited this user from being saved:
            </h2>

            <ul>
               <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
               <% end %>
            </ul>
         </div>
      <% end %> 

      <%= form_for @user do |f| %>
            <p>Username: <%= f.text_field :username %></p>
            <p>Email: <%= f.email_field :email %></p>
            <p>Password: <%= f.password_field :password %></p>
            <p>Confirm Password: <%= f.password_field :password_confirmation %></p>
            <% if @user.managerbydefault? %>
               <p><%= f.check_box :employee_type, value: true, checked: true, disabled: true %>Manager</p>
               <%= f.hidden_field :employee_type, value: "manager" %>
            <% else %>
               <p><%= f.radio_button :employee_type, "manager" %> Manager </p>
               <p><%= f.radio_button :employee_type, "cook"%> Cook</p>
               <p><%= f.radio_button :employee_type, "host"%> Host</p>
               <p><%= f.radio_button :employee_type, "waitstaff"%> Waitstaff</p>
               <p><%= f.radio_button :employee_type, "bartender" %>Bartender</p>
               <p><%= f.radio_button :employee_type, "busser"%>Busser</p>
            <%end%>
            <%= f.submit %>
      <% end %> 
   </body>
</html>