<h1>Order#show</h1>

<%=render :partial => "form" %>
<%=form_for(@order, url: pay_path, :html => {method: "post"}) do |f|%>
    <%=f.number_field :quantity, min: 0.0, step: 0.01%>
    <%=f.submit "Pay"%>
<%end%>
<p>Amount due: <%=@total%></p>

<p>Change: <%=@change%></p>

<%if @order.ispaid %>
    <%=form_for(@order.table, :url => {action: "stageup", controller: "tables", id: @order.table.id}, :html => {method: "post"}) do |f|%>
        <%= f.hidden_field :status, value: 3%>
        <%=f.submit "Finish"%>
    <%end%>
<%end%>