<!DOCTYPE html>
<html>
<head>

<style>
.container {
  margin: auto;
  height: 350px;
  width: 300px;
  text-align: center;
  position: relative;
  border: 3px solid green;
  background: #f5f5f5;
  box-shadow: 5px 5px 5px #c7c7c7;
  padding-top: 35px;
  padding-bottom: 35px;

}

.buttons {
    width: 200px;
    margin: 0 auto;
    display: inline;
}
    
.action_btn {
    width: 200px;
    margin: 0 auto;
    display: inline;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.list {
    margin: auto;
    border-radius: 2px;
    width: 25%;
    left: 50%;
    text-align: center;
    padding: 1%;
    border: 1px solid black;
    background: #f5f5f5;
    box-shadow: 5px 5px 5px #c7c7c7;
}
.deletebutton {

  background-color: #ff2424;
  border: none;
  color: white;
    padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
}
.deletebutton:hover, .deletebutton:focus {
    background-color: #d60000;
}

.editbutton {
  background-color: #ebebeb;
  border: none;
  color: black;
    padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
}
.editbutton:hover, .editbutton:focus {
    background-color: #d1d1d1;
}

.tablebutton {
  background-color: #0ecf00;
  border: none;
  color: white;
    padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
}
.tablebutton:hover, .tablebutton:focus {
    background-color: #00a606;
}
.things-in-a-line{
  display: flex;
  flex-direction: row;
  vertical-align:middle
  
}
</style>

</head>
<body>

<%if current_user.employee_type == "manager"%>
    <%Table.all.each do |x|%>
        <div class="things-in-a-line">            
            <%= button_to 'x', deletetable_path(x.id), {method: "delete", class: "deletebutton"}%>
            <p>&nbsp;</p>
            <%= button_to x.name, tableedit_path(x.id), {method: "get", class: "editbutton"}%>
            <p>&nbsp;</p>
            <%= button_to '>', table_path(x.id), {method: "get", class: "tablebutton"}%>
            <p>&nbsp;</p>
            <strong><%=x.status_to_string%></strong>
        </div>
    <%end%>
<%else%>
    <%Table.all.each do |x|%>
        <div class="things-in-a-line">   
            <%= button_to x.name, tableedit_path(x.id), {method: "get", class: "editbutton"}%>
            <p>&nbsp;</p>
            <%= button_to '>', table_path(x.id), {method: "get", class: "tablebutton"}%>
            <p>&nbsp;</p>

            <strong><%=x.status_to_string%></strong>
        </div>
    <%end%>
<%end%>
<%if current_user.employee_type == "manager"%>
    <%=button_to 'Create Table', {controller:"tables", action: "new"}, method: :get%>
<%end%>
</body>
</html>


