<!DOCTYPE html>
<html>
  <head>
    <style>
    .list {
        overflow: visible;
        background-color: #cccccc;
        width: 100%;

        top: 0;
        left: 0;

        padding-top: 20px;
    }

.column {
  float: left;
  padding: 10px;
  position: relative;
}

.column.left {
  width: 75%;
  position: absolute;
}

/* right column */
.column.right {
  width: 500px;
  float: right;
}
.addbutton {
    background-color: #0ecf00;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 35px;
}
.addbutton:hover, .addbutton:focus {
    background-color: #00a606;
}
.tablebutton {
    background-color: #0ecf00;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 20px;
}
.tablebutton:hover, .tablebutton:focus {
    background-color: #00a606;
}
#order {
  border-collapse: collapse;
  width: 100%;
}

#order td, #order th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #order tr:nth-child(even){background-color: #f2f2f2;}
  
  #order tr:hover {background-color: #bbb;}
  
  #order th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffe070;
    color: black;
  }

    </style>
  </head>


<body>
<div class="row">
<% if current_table(@id).status == 2 %>

    <div class="column left">
         <%Menuitem.all.each do |x|%>
            <%= form_for(current_table(@id).orders.first, url: updateorder_path, :html => {method: "patch"}) do |f| %>
                <%= x.name%>
                <%= f.number_field :quantity%>
                <%= f.hidden_field :menuitems_id, value: x.id%>
                <%= f.submit "+", class: "tablebutton"%>
                <br></br>
            <%end%>
        <% end %>
    </div>
<%end%>
    <div class="column right" style="background-color:#ddd;">
        <h2><%=current_table(@id).name%>: <%=current_table(@id).status_to_string%></h22>
        <%if table_user(current_table(@id)) != nil %>
            <h3>Assigned user is: <%=table_user(current_table(@id)).username%></h3>
        <%else%>
            <h3>There is No Assigned User</h3>
        <%end%>
        <% if current_table(@id).status == 1%>
            <% if current_user.employee_type == "manager" || current_user.employee_type == "host"%>
                <%=form_for(current_table(@id), :url => {action: "stageup", controller: "tables"}, :html => {method: "post"}) do |f|%>
                    <p>Assign waitstaff: <%= f.select :user_ids, options_for_select(current_table(@id).get_options_hash("waitstaff")), :class => 'genForm_dropBox'%></p>
                    <%= f.hidden_field :status, value: 2%>
                    <%=f.submit%>
                <%end%>
            <%end%>
        <% end %>


        <% if current_table(@id).status == 2 %>
            
                <table id="order">
                    <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                    </tr>
                    <%current_table(@id).orders.first.menuitems.each do |x|%>
                        <tr>
                            <td><%=x.first.name%></td>
                            <td><%=x.second%></td>
                            <td>$<%=x.first.price%></td>
                        </tr>
                    <% end %>
                </table>

                <p><strong>Total: <%=current_table(@id).orders.first.total%></strong></p>     


                <%if current_user.employee_type == "manager" || table_user(current_table(@id)) == current_user %>
                    <%=form_for(current_table(@id).orders.first, url: pay_path, :html => {method: "post"}) do |f|%>
                        Tendered: <%=f.number_field :quantity, min: 0.0, step: 0.01 , min:0, max: 1000%>
                        <%=f.submit "Pay", class: "addbutton"%>
                    <%end%>
                    <%=link_to 'Edit Order', {controller: "orders", action: "edit", id: current_table(@id).orders.first.id}%>
                    <p>Amount Due: <%=@amountdue%></p>
                    <%if current_table(@id).orders.first.ispaid %>
                        <p>Change: <%=@change%></p>
                        <%=form_for(current_table(@id), :url => {action: "stageup", controller: "tables", id: @id}, :html => {method: "post"}) do |f|%>
                            <%= f.hidden_field :status, value: 3%>
                            <%=f.submit "Finish", class: "addbutton"%>
                        <%end%>
                    <%end%>
                <%else%>
                    <%=button_to 'Pay', {controller: "orders", action: "show", id: current_table(@id).orders.first.id}, {method: "get", disabled: true, class: "addbutton"}%>
                <%end%>
        <%end%>

        <% if current_table(@id).status == 3 %>
            <%if current_user.employee_type == "manager" || current_user.employee_type == "busser" %>
                <%=form_for(current_table(@id), :url => {action: "stageup", controller: "tables", id: current_table(@id).id}, :html => {method: "post"}) do |f|%>
                    <%= f.hidden_field :status, value: 1%>
                    <%=f.submit "Finish", class: "addbutton"%>
                <%end%>
            <%end%>
        <%end%>
    </div>
</div>
</body>
</html>



